@import url(https://fonts.google.com/specimen/Outfit);

body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Outfit;
    background-color: hsl(217, 54%, 11%);
    /*min-height: 100vh;*/

    
    
}

.Wrapper{
    display: flex;
    justify-content: center;
    align-content:center;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}

.img-wrapper{
    position: relative;
    width: 280px;
}

.image{
    width: 280px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background: hsl(178, 87%, 75%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.30s;
}

.overlay:hover{
    opacity: 1;
}


h2{
    color: white;
    font-family: Outfit;
}

h2:hover{
    color:hsl(178, 87%, 75%);
}


img{
    border-radius: 1rem;
}


.content_img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.end{
    display: flex;
}

.end img{

    margin-right: 20px;
}
